.card-background-page {

    ion-card {
        position: relative;
        text-align: center;
        width: 50%;
        margin: auto;
    }

}

.position{
    margin: auto;
    text-align: center;
}